/* .container{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/826/631/767/quote-text-typography-yellow-background-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    font-size: 40px;
} */
